


/* 2xl */
@media (max-width: 1536px) {
   
    .header__title {
        font-size:  2.25rem;
       
    }
    .btn-container {
        font-size: 0.8rem;
    }
    .header__link { 
    font-size: 0.988rem;
    }
    .hero__title {
        font-size: 3rem;
    }
    .hero__description {
        font-size: 1rem;
    }
    .hero__description:hover {
        font-size: 1.150rem;
    }
    .image {
        width: 450px;
        height: 450px;
    }
    .help__title {
        font-size: 3.5rem;
    }
    .help__description {
        font-size: 1.1rem;
    }
    .footer__title {
        font-size: 2rem;
    }
    .footer__description {
        font-size: 1rem;
    }
    .fa-solid {
        display: none;
    }
}


/* xl */
@media (max-width: 1280px) {
    

    .header__title {
        font-size:  2.1rem;
       
    }
    .btn-container {
        font-size: 0.655rem;
    }
    .header__link { 
        font-size: 0.788rem;
     }
     .hero__title {
        font-size: 2.5rem;
    }
    .hero__description {
        font-size: 0.888rem;
    }
    .hero__description:hover {
        font-size: 1rem;
    }
    .image {
        width: 400px;
        height: 400px;
    }
    .help__title {
        font-size: 3rem;
    }
    .help__description {
        font-size: 1rem;
    }
    .footer__title {
        font-size: 1.8rem;
    }
    .footer__description {
        font-size: 0.888rem;
    }
}



/* lg */
@media (max-width: 1024px) {
    
    
    
    
   
   .header__title {
    font-size: 1.5rem;

   }
   .btn-container {
    font-size: 0.455rem;
   }
 .header__link { 
  
    font-size: 0.488rem;
 } 
 .hero__title {
    font-size: 2.2rem;
}
.hero__description {
    font-size: 0.7rem;
}
.hero__description:hover {
    font-size: 0.9rem;
}
.image {
    width: 350px;
    height: 350px;
}

.help__title {
    font-size: 2.5rem;
}
.help__description {
    font-size: 1.1rem;
}
.footer__title {
    font-size: 1.5rem;
}
.footer__description {
    font-size: 0.765rem;
}


}


/* md */
@media(max-width: 768px) {
   
    .header__title {
        font-size: 1.2rem;
    }
    .btn-container {
        font-size: 0.355rem;
        
    }
     .header__link { 
      
        font-size: 0.5rem; }
    
     .hero__title {
        font-size: 2rem;
    }
    .hero__description {
        font-size: 0.6rem;
    }
    .hero__description:hover {
        font-size: 0.8rem;
    }
    .image {
        width: 300px;
        height: 300px;
    }
    .help__title {
        font-size: 2.2rem;
    }
    .help__description {
        font-size: 1rem;
    }
    .footer__title {
        font-size: 1.2rem;
    }
    .footer__description {
        font-size: 0.665rem;
    }
   .fa-solid {
    display: flex;
    font-size: 1.5rem;
    color: #000;
    flex: 1;
    align-self: flex-end;
    justify-content: end;
    margin-top: 1rem;
    padding: 0.5em 1rem;
    margin: 0 auto;
    cursor: pointer;
   }
   
  
   
   

}
    


/* sm */
@media(max-width: 640px) {
   
    .header__title {
        font-size: 1.1rem;
    }
    .btn-container {
        font-size: 0.455rem;
       }
    .hero__title {
        font-size: 1.7rem;
    }
    .hero__description {
        font-size: 0.4rem;
    }

    
    .image {
        width: 200px;
        height: 200px;
    }
    .help__title {
        font-size: 2rem;
    }
    .help__description {
        font-size: .9rem;
    }.footer__title {
        font-size: 1.5rem;
    }
    .footer__description {
        font-size: 0.665rem;
    }
  
    

}




/* xs */
@media (max-width: 475px){
   
    .header__title {
        font-size: 1rem;
    }
    .btn-container {
        font-size: 0.455rem;
       }
    .hero__title {
        font-size: 1.5rem;
    }
    .hero__description {
        font-size: 0.3rem;}
    .image {
        width: 100px;
        height: 100px;
    }
    .help__title {
        font-size: 1.6rem;
    }
    .help__description {
        font-size: 0.7rem;
    }.footer__title {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
    .footer__description {
        font-size: 0.665rem;
    }
    .fa {
        font-size: 1.2rem;
    }
    
    
    
}
