*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: "Montserrat", sans-serif;
    
     height: 100vh;

   
}
.services {
    display: flex;
 
    padding: 0.5 em 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.services__title {
    text-transform: uppercase;
    letter-spacing: -0.025em;
    font-size: 3.5rem;
    margin-top: 5rem;
}
.services__description {
    font-size: 1.2rem;
    max-width: 60ch;
    margin-top: 2rem ;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding: 0.5em 1rem;
    line-height: 1.5;
    transition:  transform 0.3s;
    font-family: "Montserrat", sans-serif;

}
.services__description:hover {
    transform: translateY(-10px);
}

.plan__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    
}
.plan__container {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/* .plan__container {
  display: grid;
  grid-template-areas: 
  'SEO SEO SMM SMM WDD WDD'
  'PPC PPC  CM CM  AR  AR';
  gap: 1rem;
   
    
}
.plan__box--SEO {
  grid-area: SEO;
}
.plan__box--SMM {
  grid-area: SMM;
}
.plan__box--PPC {
  grid-area: PPC;
}
.plan__box--CM {
  grid-area: CM;
}
.plan__box--WDD {
  grid-area: WDD;
}
.plan__box--AR {
  grid-area: AR;
} */
.plan__box-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.plan__box-description {
    font-size: 0.744em;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
}
.plan__box-container {
   background-color: #fff;
   color: #000;
   padding: 2rem;
   border-radius: 6px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0;
   align-items: flex-start;
   border: 1px solid #ccc;
   border-radius: 10px;

}
.plan__box {
  margin: 0;
}
.contact {
  margin-top: 10rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  width: 100%;
  border-radius: 10px;
  
  
}
.contact__title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-top: 3rem;
}
.contact__description {
  margin-bottom: 1.2rem;
  letter-spacing: -0.05em;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}
.btn1 {
  
  color: #fff;
  background-color: #000;
}
.anchor__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa {
  font-size: 1.5rem;
   border-radius: 0.5px;
  padding: 0.5em 1rem;
  text-align: center;
  margin: 0.5rem 1rem;

}
.fa-x-twitter {
  color: #000;
  font-size: 3rem;
}
.fa-youtube {
  background-color: #FF0000;
  color: #fff;
  
}
.fa-facebook {
  background-color: #4267B2;
  color: #fff;

}
.fa-instagram {
  color: #C13584;
  font-size: 3rem;
}











.container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 1rem
  }
  /* 2xl */
  @media (max-width: 1536px) {
      .container {
        max-width: 1280px;
      }
    }
    
    /* xl */
    @media (max-width: 1280px) {
      .container {
        max-width: 1024px;
      }
    }
    
    /* lg */
    @media (max-width: 1024px) {
      .container {
        max-width: 768px;
      }
    }
    
    /* md */
    @media (max-width: 768px) {
      .container {
        max-width: 640px;
      }
    }
    
    /* sm */
    @media (max-width: 640px) {
      .container {
        max-width: 475px;
      }
    }
    
    /* xs */
    @media (max-width: 475px) {
      .container {
        width: 100%;
      }
    }